# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/
!src/main/resources/static/**/target/

# Eclipse
.settings/
.project
.classpath

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VSCode
.vscode/

# Lib folder (include lib folder but ignore its contents)
lib/*
!lib/*.jar
